.container {
  width: 100%;
  // 地图
  .background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    .map {
      height: 100%;
      width: 100%;
      position: relative;
      .customCallout {
        width: 278rpx;
        height: 72rpx;
        border-radius: 40rpx;
        background: #0fc1b5;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .content {
          width: calc(100% - 80rpx);
          height: calc(100% - 14rpx);
          color: #fff;
          font-family: AlibabaPuHuiTiM;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          cover-view:nth-child(1) {
            font-size: 24rpx;
          }
          cover-view:nth-child(2) {
            font-size: 20rpx;
          }
        }
        cover-image {
          position: absolute;
          right: 20rpx;
          top: 26rpx;
          width: 12rpx;
          height: 20rpx;
        }
      }
      .image {
        position: absolute;
        top: calc(50% - 62rpx);
        left: calc(50% - 31rpx);
        z-index: 0;
        image {
          width: 62rpx;
          height: 62rpx;
          border-radius: 50%;
        }
      }
    }
  }
  // 蒙层
  // .mantle {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   z-index: 0;
  //   height: 100%;
  //   width: 100%;
  //   // background: rgba($color: #222533, $alpha: 0.3);
  // }
  // 页面主要内容
  .index {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .top {
      height: 40px;
      width: 69px;
      position: absolute;
      top: 0;
      left: 40rpx;
      z-index: 99;
      image {
        height: 100%;
        width: 100%;
      }
    }
    // 页面中间用户头像、圆环部分
    .content {
      //   // margin-top: 210rpx;
      //   width: 100%;
      //   height: calc(100% - 260rpx);
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   .oval_1 {
      //     width: 716rpx;
      //     height: 716rpx;
      //     display: flex;
      //     justify-content: center;
      //     align-items: center;
      //     border-radius: 50%;
      //     // background: rgba($color: #0fc1b5, $alpha: 0.28);
      //     .oval_2 {
      //       width: 432rpx;
      //       height: 432rpx;
      //       display: flex;
      //       justify-content: center;
      //       align-items: center;
      //       border-radius: 50%;
      //       // background: rgba($color: #0fc1b5, $alpha: 0.13);
      //       .oval_3 {
      //         width: 212rpx;
      //         height: 212rpx;
      //         display: flex;
      //         justify-content: center;
      //         align-items: center;
      //         border-radius: 50%;
      //         position: relative;
      //         // background: rgba($color: #0fc1b5, $alpha: 0.14);
      //         image {
      //           width: 61.72rpx;
      //           height: 61.72rpx;
      //           border-radius: 50%;
      //           position: absolute;
      //           z-index: 2;
      //         }
      //       }
      //     }
      //   }
    }
    // 按钮部分
    .bottom {
      position: absolute;
      bottom: calc(83px + constant(safe-area-inset-bottom)); /*兼容 IOS<11.2*/
      bottom: calc(83px + env(safe-area-inset-bottom)); /*兼容 IOS>11.2*/
      width: 100%;
      z-index: 2;
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 100%;
        position: relative;
        // 按钮背景颜色 公共样式
        .bgcolor button {
          color: #fff;
          background: #0fc1b5;
          font-size: 30rpx;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #0fc1b5;
        }
        .matching {
          button {
            width: 378rpx;
            height: 100rpx;
            border-radius: 100rpx;
          }
        }
        .position {
          position: absolute;
          right: 28rpx;
          button {
            width: 100rpx;
            height: 100rpx;
            border-radius: 50%;
            image {
              width: 32.82rpx;
              height: 32.84rpx;
            }
          }
        }
      }
    }
  }
}
// 弹出层
.popup {
  border-radius: 22rpx;
  overflow: hidden;
  .van-popup {
    width: 686rpx;
    height: 736rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: AlibabaPuHuiTiB;
    font-size: 48rpx;
    font-weight: bold;
  }
  .Name {
    padding: 0 30rpx 40rpx 30rpx;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-family: NunitoSans-Bold;
    font-size: 13px;
    text:nth-child(2) {
      color: rgba($color: #fff, $alpha: 0.66);
    }
  }
}
.popup-button {
  background: transparent;
  display: flex;
  justify-content: space-between;
  margin-top: 34rpx;
  button {
    width: 314rpx;
    height: 100rpx;
    border-radius: 100rpx;
    color: #fff;
    line-height: 100rpx;
  }
  button:nth-child(1) {
    background: #303342;
  }
  button:nth-child(2) {
    background: #0fc1b5;
  }
}
