.meet {
  height: 100vh;
  width: 100%;
  .map {
    height: 100%;
    width: 100%;
    overflow: hidden;
    .cover-view {
      width: calc(100% - 48rpx);
      .content {
        height: calc(100% - 44rpx);
        width: 100%;
        // margin-top: 26rpx;
        padding: 0 24rpx;
        padding-bottom: 28rpx;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        .state {
          padding: 40rpx 0;
          color: #fff;
          font-family: AlibabaPuHuiTiB;
          font-size: 120rpx;
          font-weight: bold;
          .item {
            display: inline-block;
            color: #fff;
            font-family: AlibabaPuHuiTiB;
            font-size: 120rpx;
            font-weight: bold;
          }
        }
        .user {
          margin-bottom: calc(20rpx + constant(safe-area-inset-bottom));
          margin-bottom: calc(20rpx + env(safe-area-inset-bottom));
          height: calc(100% - 321rpx - constant(safe-area-inset-bottom));
          height: calc(100% - 321rpx - env(safe-area-inset-bottom));
          width: 666rpx;
          padding: 0 20rpx;
          padding-bottom: 41rpx;
          border-radius: 16rpx;
          background: #2b2f3f;
          .title {
            height: 48rpx;
            line-height: 48rpx;
            margin-top: 26rpx;
            font-family: NunitoSans-Bold;
            font-size: 22rpx;
            color: rgba($color: #fff, $alpha: 0.3);
          }
          .scroll-Y {
            height: calc(100% - 68rpx);
            .userInfo {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-top: 48rpx;
              .avatar {
                width: 120rpx;
                height: 120rpx;
                image {
                  height: 100%;
                  width: 100%;
                  border-radius: 50%;
                }
              }
              .info {
                margin-left: 32rpx;
                height: 120rpx;
                width: calc(100% - 320rpx);
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #fff;
                text:last-child {
                  color: rgba($color: #fff, $alpha: 0.5);
                }
              }
              .button {
                width: 198rpx;
                height: 72rpx;
                .van-button {
                  height: 100%;
                  width: 100%;
                  border-radius: 8rpx;
                  color: #fff;
                }
              }
            }
            .userInfo:first-child {
              margin-top: 20rpx;
            }
            .userInfo:last-child {
              margin-bottom: 0rpx;
            }
          }
        }
      }
    }
  }
}
